@import "tailwindcss";

@theme {
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: "Azeret Mono", ui-monospace, monospace;
  --font-family-staatliches: "Staatliches", cursive;
}
