<% category_text = transaction.category_display %>
<p
  id="<%= dom_id(transaction, :category_label) %>"
  class="text-xs font-medium uppercase tracking-wide text-slate-500">
  <%= category_text %>
</p>

